*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    touch-action: manipulation;
}

.page {
    background-color: var(--bg_color);
    background-repeat: no-repeat;
    color: #fff;
    font-size: clamp(14px, 1vw, 18px);
    font-family: var(--main_font);
    font-weight: 400;
    line-height: 1.6;
    min-height: 100%;
    overflow: hidden;

    &.is-overflow {
        overflow: hidden;
    }

    &__content {
        @include scrollbar;
        height: 100%;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        scrollbar-gutter: stable;
        scroll-behavior: smooth;
    }

    &__section {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        scroll-snap-align: start;
    }
}

.header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
}

.container {
    max-width: var(--container_max_width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
}

a {
    color: var(--link_color);
    transition: color 0.3s;
    text-decoration: underline;
    @include hover {
        color: var(--primary_color);
    }
}

img {
    height: auto;
    max-width: 100%;
}

svg {
    transition: fill 0.3s;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}