@font-face {
    font-family: '2MASS J1808';
    src: url("../fonts/subset-2MASSJ1808-Normal.woff2") format('woff2'), url("../fonts/subset-2MASSJ1808-Normal.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: '2MASS J1808';
    src: url("../fonts/subset-2MASSJ1808-Heavy.woff2") format('woff2'), url("../fonts/subset-2MASSJ1808-Heavy.woff") format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}