$xs: 480px;
$sm: 768px;
$md: 1024px;
$hd: 1200px;
$lg: 1400px;
$xlg: 1600px;

:root {
    --bg_color: #1b202c;
    --firm_blue: #0045ab;
    --firm_green: #82c6a4;
    --main_font: 'Roboto', Arial, sans-serif;
    --text_color: #fff;
    --link_color: #0054FF;
}